{% load static %}
{% load bootstrap%}
{% if user.is_authenticated%}
<h2>You are Already Logged In.</h2>
<a href={% url 'dashboard' %}>Go TO Dashboard</a>
{%else%}
<html>
<body>
<style>
.pCard{
    width:30%;
}
h4{
    margin:0px;
    font-size:15px;
    font-family:sans;
    background:#3b6978;
    padding:10px;
color:#e7dfd5
}
label{
font-size: 13px;
font-weight: 600 !important;
font-family: sans;
color:#3b6978;

}
input{
    border: 2px solid #3b6978;
padding: 8px;
background:transparent;
width:100%;
}
input:focus{
    background:white;
}
form{
    padding:10px 15px;
    background:#e7dfd5;
        margin:0px;
}
.form-group{
    margin-bottom:10px;
}
html,body{
    height:100%;
}
body{
    display:flex;
    justify-content: center;
align-items: center;
}
button{
    width:100%;
    background:#3b6978;
    border:0px;
    color:#e7dfd5;
    padding:10px;
    margin-top: 20px;
margin-bottom: 10px;
}
</style>

    <div class="pCard">
    <h4 style="">Login to continue.</h4>
    <form method="POST" >
    {% csrf_token %}
    {{form|bootstrap}}
    
    <button class="btn btn-primary btn-md col">Login</button>
    </form> 
    </div>

{% endif %}
</body>
</html>
