{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>{% block title %}Animal Care{% endblock title %}</title>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"> 
    <link rel='stylesheet' href= '{% static "css/main.css" %}'>
    {% endblock head %} 
</head>
 

<body>
    {% comment %} <header style="background:orange;"> {% endcomment %}


<nav class="navbar navbar-expand-lg navbar-light " style="background:orange">
  <a class="navbar-brand" href="#">Animal Care</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href={% url 'dashboard' %} >Dashboard <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link " href={% url 'receipt'  %}>New Receipt <span class="sr-only">(current)</span></a>

      <a class="nav-item nav-link " href="/0">{{user|upper}},</a>
      <a class="nav-item nav-link " href={% url 'logout' %}>Logout</a>
      {% else %}
      
      {% endif %}
       
     
    </div>
  </div>
</nav>
    {% comment %} </header> {% endcomment %}
   <main class="container">

    {% block main %}
    
    {% endblock main %}

   </main>
<div class="container-fluid">
{% block fluid %}

{% endblock fluid %}
</div>


    {% block script %}
       <script src="{% static 'js/jquery.js' %}"></script>
       <script src=" {% static 'js/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript">

        $(document).ready(function(){
            var age=$("#slider-age");
            var maxage=$("#id_max_age");
            var minage=$("#id_min_age");
            var sliderenv=$("#slider");
            sliderenv.slider({
                range:true,
                min:1,
                max:100,
                slide:function(event,ui){
                    
                    age.html("Age "+ui.values[0]+"-"+ui.values[1]);
                    changevalues(ui.values[0],ui.values[1]);

                }

            });
            var changevalues=function(min,max){
                maxage.val(max);
                minage.val(min);


            }
            maxage.change(function(){
                if (maxage.val()>minage.val()){
            sliderenv.slider('option','values',[minage.val(),maxage.val()]);
             }
              });
          
            minage.change(function(){
                if (maxage.val()>minage.val()){
            sliderenv.slider('option','values',[minage.val(),maxage.val()]);}
            });
            

        });

</script>
<script type="text/javascript">
    $(function() {
    $('#medicine').formset();
    })
</script>

<script src="{% static 'js/main.js' %}"></script>      
{% endblock script %}
</body>
</html>
