{% extends "main/base.html" %}
{% block title %}{{ block.super }}||Dashboard{% endblock title %}
{% block main %}

    <div class="row" style="box-shadow:2px 2px 2px 2px gray;padding:10px 20px;">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2  style="font-size:2.8rem;font-weight:200">My Dashboard</h2>
        </div><!---->

        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-4 offset-xm-2">
                <p style="font-weight:200;font-size:1.3rem"> Entries:{{totals}}</p>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7 offset-xm-2">    
                <p style="font-weight:200;font-size:1.3rem"> My Entries:{{mine}}</p>
            </div>
        </div><!--This row-->
        </div>

        <!--This is next-->
        <div class="row" style="background:#e3e1e1;padding:15px;margin-top:0px;box-shadow: 0px 2px 2px 2px gray">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
            <center>
            <a name="" id="" class="btn btn-primary " href={% url 'receipt' %} role="button">Add New</a>
            </center>
            </div>
        </div>

    {% endblock main %} 
