{% extends "main/base.html" %}

{% block main %}
<form method="Post">
    {{form.as_p}}
    <div class="row">
    <div class="col-md-3 offset-5">
    <button class="btn btn-primary">Add</button>
    </div>
    </div>
</form>
{% endblock main %} 
