{% extends "main/base.html" %}
{% block main %}
<section id="success">

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-8 "> 
<h1> Successfully Added {{content.owner_name}} and {{content.id}}</h1>
<br>

Click This button to Print:

<a href="{% url 'generate_pdf' content.id %}" class="btn btn-primary">Print</a>
<a href={% url 'receipt' %} class="btn btn-primary">New Receipt</a>

</div>
</div>
</section>
{% endblock main %} 
