{% extends "main/base.html" %}
{% load static %}
{% load bootstrap%}
{% block title %}{{ block.super }}||New Receipt{% endblock title %}

{% block head %}
{{ block.super }}
<link href= "{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.css' %}" rel="stylesheet"/>

{% endblock head %}
   {% block main %}
    
    <form method="POST" style="margin-top:20px;" id="receiptForm" data-med-url="{% url 'ajax_load_medicine' %}" data-camp-url="{% url 'ajax_load_camp' %}">
    {% csrf_token %}
    <div class='row' id="receipt-head">
    <div class="col-md-6"><h1>Disease Treatment Receipt</h1></div>
    <div class="col-md-3" style="position:relative;bottom:10px;"><label for="id_institute"></label>Institute {{form.institute}}</div>
        {{form.errors.camp}}
        <div class="col-md-3" style="position:relative;bottom:10px;"><label for="id_camp"></label>{{form.camp}}</div>
        
        </div>
        <div class="row">
        <div class="col-md-3 col-sm-12">
        <h2>Reference:{{ref}}</h2>
        </div>
        </div>
        {% if form.errors%}
        {%for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
            <strong>{{error|escape}}</strong>
            </div>

            
            {% endfor %}
        {%endfor%}
        {% endif %}
        {% if formset.errors%}
        {%for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
            <strong>{{error|escape}}</strong>
            </div>

            
            {% endfor %}
        {%endfor%}
        {% endif %}
        <div class="row">
        
        <div class="col-md-3"><label for="id_owner_name">Owner</label>{{form.owner_name}}</div>

        <div class="col-md-3">
        {% comment %} {% if  form.phonenumber.errors %}
                            <div class="alert alert-danger">
            <strong>{{form.phonenumber.error|escape}}</strong>
            </div>
        {% else %}
        {% endif %} {% endcomment %}

        <label for="id_phonenumber">Phone</label>{{form.phonenumber}}</div>
        <div class="col-md-3"><label for="id_cast">Cast</label>{{form.cast}}</div>
        <div class="col-md-2"><label for="id_minor">Minors:</label>{{form.minor}}</div>

        </div>
        <div class="row">
        <div class="col-md-4"><label for="id_address">Address</label>{{form.address}}</div>
        </div>
        <div class="row">
        <div class="col-md-3"><label for="id_animal">Animal</label>{{form.animal}}</div>
        <div class="col-md-3"><label for="id_gender">Gender</label>{{form.gender}}</div>
        <div class="col-md-2"><label for="id_count">Count</label>{{form.count}}</div>
        <div class="col-md-3" id="Operation"><label for="id_operation">Operation</label>{{form.operation}}</div>
        </div>
        <div class="row">
        <div class="col-md-3"><label for="id_birth_mark">Birth Mark</label>{{form.birth_mark}}</div>
        <div class="col-md-3"><label for="id_diagnosis">Diagnosis</label>{{form.diagnosis}}</div>

        </div>

        <section id="Medicine" style="margin-top:30px;">
        <h2>Medicine Details</h2>
        {% for setfields in med_formset.forms  %}
        <br>
            <div class="row" id="medicine">
                <div class="col-md-3">{{setfields.medicinetype}}</div>
                <div class="col-md-3">{{setfields.medicine}}</div>
                {{setfields.errors}}
                <div class="col-md-2">{{setfields.quantity}}</div>
                <div class="col-md-2">{{setfields.amount}}</div>

        <br>
        {% endfor %}
        </div>
        </div>
        <br>
        {{med_formset.management_form}}
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
    {% endblock main %}
    {% block script %}
    {{ block.super }}
    <script>
  
  // med();
    // console.log($(this).attr('name'));


    </script>
    {% endblock script %}
