{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Receipt Print</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css"href= "{% static 'css/print.css' %}"/>

</head>
<body>
    <div class='wrapper'>
                <div class='header'>
                        <p class='title'>Rajasthan Government</p>
                        <p class='title'>Animal Care Unit</p>
                        <p>Pashu Dhan Neshulak arogya yojna</p>
                </div>
    
                <div id="location" style=>
                        <p >Hospital/Branch: {{local_data.name}}</p>
                        <p>District: {{local_data.district}}</p>
                        <p style="position:relative;left:81%;top:-40px;width:100px;">Fees:{{receipt.cost}}</p>
                        
                </div>
                <p class="sub-head" style="text-align:center;">Medication Receipt</p>
                <div>
                        
                        <p ><b>Receipt Number:</b>      {{receipt.id}}</p>
                        <p id='date' style="position:absolute;top:-40;width:140px;">Date: <span>{{rdate}}</span></p>
                </div>                
                        <p>owner name:      <span>{{receipt.owner_name}}</span></p>
                        <p>Phone Number:    <span>{{receipt.phonenumber}}</span></p>
                        <p>Animal Type:     <span>{{receipt.animal}}</span></p>
                        <p>Breed:           <span>{{receipt.animal.Breed}}</span></p>
                        <p>Age  :           <span>{{receipt.age}}</span></p>
                        <p>Count:           <span>{{receipt.count}}</span></p>
                        <h3 style="font-weight:200;padding-top:20px;border-top:1px solid black;">Rx</h3>
                        <h4>{{diagnosis}}</h4>
                        <br>
                        <br>
                        <div class="row" style="margin-top:200px;">
                        <p class="col offset-1" style="font-weight:300">Dr.{{receipt.doctor|upper}}</p>
                        <p class="col offset-4" style="font-weight:300">Signature</p>
                
    </div>
</body>
</html>