<head>
<style>
th,td{
	padding:30px;
	text-align: center;
}
</style>
</head>
<div style="float:left;width:160em">
    <table cellspacing="0" border='' >
            <tr>
            <th colspan="2" rowspan="3" >Vaccination Done</th>
            <th colspan="2">HS</th>
            <th colspan="2">BQ</th>
            <th colspan="3">FMD</th>
            <th colspan="2">BRUCELLA</th>
            <th colspan="2">ET</th>
            <th colspan="2">SHEEP POX</th>
            <th colspan="2">PPR</th>
            <th colspan="2">ARV</th>
            <th rowspan="3">Others</th>
            <th rowspan="3">Total</th>
            </tr>

            <tr><td colspan="2">Target 1150</td>
                <td colspan="2">Target 900</td>
                <td colspan="3">Target 250</td>
                <td colspan="2">Target ..</td>
                <td colspan="2">Target 3000</td>
                <td rowspan="2">Target 1000</td>
                <td colspan="2">Target 100</td>
                <td colspan="2">Target..</td>
            </tr>

            <tr>
            
                <td>Cattle</td>
                <td>Buffalo</td>
                <td>Cattle</td>
                <td>Buffalo</td>
                <td>Cattle</td>
                <td>Buffalo</td>
                <td>Others</td>
                <td>Cattle</td>
                <td>Buffalo</td>
                <td>Sheep</td>
                <td>Goat</td>
                <td>Sheep</td>
                <td>Goat</td>    
                <td>Canine</td>
                <td>Others</td>
            </tr>

            <tr style="border:1px solid black">
                <td colspan="2" ><b>A.In Institutions</b></td>
                
            </tr>
            <tr>
                <td colspan="2" >i)Polyclinic</td>
                <td>0</td>
            </tr>

            <tr>
                <td colspan="2" >ii)All Other Institutes</td>
                <td>0</td>
            </tr>

            <tr><td colspan="2" ><b>B.In Camps</b></td></tr>
            <tr><td colspan="2" >1.1Combat Infertility(SCP)</td><td>0</td></tr>
            <tr><td colspan="2" >1.2Combat Infertility(TSP)</td><td>0</td></tr>
            <tr><td colspan="2" >1.3Combat Infertility(RKVY General)</td><td>0</td></tr>
            <tr><td colspan="2" >1.4Combat Infertility(RKVY Goushala)</td><td>0</td></tr>
            <tr><td colspan="2" >2.Goushala</td><td>0</td></tr>
            <tr><td colspan="2" >3.1 Rabi Abhiyan</td><td>0</td></tr>
            <tr><td colspan="2" >3.2Kharif Abhiyan</td><td>0</td></tr>
            <tr><td colspan="2" >4.ASCAD</td><td>0</td></tr>
            <tr><td colspan="2" >5.1 District Mobile</td><td>0</td></tr>
            <tr><td colspan="2" >5.2Tehsil Mobile</td><td>0</td></tr>
            <tr><td colspan="2" >6.RLDB Sponsored</td><td>0</td></tr>
            <tr><td colspan="2" >7.Surra</td><td>0</td></tr>
            <tr><td colspan="2" >8.TADA / MADA</td><td>0</td></tr>
            <tr><td colspan="2" >9.Other Deptt.(watershed/Dairy etc.)</td><td>0</td></tr>
            <tr><td colspan="2" >10.Any Other(Mass One day Camps)</td><td>0</td></tr>
            <tr><td colspan="2" >C.In Outbreaks</td></tr>
            <tr><td colspan="2" >Total Vaccination During The Month</td><td>0</td></tr>
            <tr><td colspan="2" >Total Vaccination upto the Month</td><td>0</td></tr>
            <tr><td colspan="2" >Amount Deposited Deposited During the Month</td><td>0</td></tr>
            <tr><td colspan="2" >Amount Deposited During upto the Month</td><td>0</td></tr>
    </table>
</div>


<div style="float:right;width:0px;">
    <table style="" border='' cellspacing='0' >
                        <tr>
                            <th colspan="4">MALE</th>
                            <th colspan="4">FEMALE</th>
                            <th colspan="2" rowspan="3">GRAND TOTAL</th>
                        </tr>

                        <tr>
                            <td rowspan="2">SC</td>
                            <td rowspan="2">ST</td>
                            <td rowspan="2">OTH</td>
                            <td rowspan="2">Total</td>
                            <td rowspan="2">SC</td>
                            <td rowspan="2">ST</td>
                            <td rowspan="2">OTH</td>
                            <td rowspan="2" >Total</td>
                        </tr>   
<tr></tr>
<tr><td>-</td></tr>
<tr><td>-</td></tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td colspan="2">0</td>
                        </tr>                                                                                                                        
    </table>
</div>
  

            







