<head>
	<style>
		th,td{
		text-align:center;
                font-size:12px;
                padding:0px 1px 0px 1px;
		}
                table td{
                        border-collapse:collapse;
                }
	</style>
	</head>


<div>
	<div>
		<table border="1" cellpadding="0" cellspacing="0">
                        <tr>
                                <th  colspan="5"style="border-right:0"><span style="text-align:left">Reference No.:185</span>
                                <th colspan="13" style="border-left:0;border-right: 0;" ><span style="text-align:center"> Progress Report(HEALTH ACTIVITIES-TREATMENT)({{start}}-{{end}})</span> </th>
                                <th colspan="9" style="border-left:0"><span style="text-align:center">Date:31/12/2018</span></th>
                        </tr>
			<tr>
                                <th colspan="17" style="text-align:left">District:{{district}}</th>

                                <th rowspan="48"></th>
                                <th colspan="9">Month: {{report_month}}</th>
			</tr>
			<tr>
                                <th colspan="17">1.No. of Animals Treated in Veterinary Institution-Species wise </th>
                                                <td></td>
                                                <td></td>
                                                <td></td>				
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

			</tr>

			<tr><td colspan="6" rowspan="3">Annual Treated at Veterinary Institutions</td>
				<td colspan="9" rowspan="">Treatment During the Month</td>
				<td rowspan="3">Total upon Last Month</td>
                                <td rowspan="3">Total upto this Month</td>
                                <!-- <td></td> -->
                                <td colspan="9">Farmers Benefitted</td>
                                
			</tr>
			<tr>
				<td rowspan="2">Cattle</td>
				<td rowspan="2">Buffalo</td>
                                <td colspan="3">Sheep and Goat</td>

                                <td rowspan="2">Equine</td>
                                <td rowspan="2">Camels</td>
                                <td rowspan="2">Others</td>	
                                <td rowspan="2">Total</td>
                                <!-- <td></td> -->
                                <td colspan="4">Male</td>
				<td colspan="4">Female</td>
				<td rowspan="2">Grand Total</td>				
			</tr>
			<tr>
				<td>Dosing</td>
				<td>Dusting</td>
                                <td>Treatment</td>
                                <!-- <td></td> -->
                                <td>SC</td>
                                <td>ST</td>
                                <td>OTH</td>
                                <td>TOTAL</td>
                                <td>SC</td>
                                <td>ST</td>
                                <td>OTH</td>
                                <td>TOTAL</td>

				</tr>
				<tr>
                                        <td colspan="6">At Polyclinic</td>
                                        <td colspan="11"></td>

                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
					
				</tr>	
				<tr>
					<td colspan="6">At All Other Veet Institutions(VHF,VH,VD,SC)</td>
					<td></td>
					<td>19</td>
					<td>6146</td>
					<td>410</td>
					<td>453</td>
					<td>6</td>
					<td>5</td>
					<td>32</td>
					<td>7282</td>
					<td>313</td>
                                        <td>3922</td>
                                        <!--  -->

                                                        <td></td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td></td>
                                                        

				</tr>
				<tr>
					<td colspan="6">Total</td>
                                        <td>211</td>
                                        <td>19</td>
                                        <td>6146</td>
                                        <td>410</td>
                                        <td>453</td>
                                        <td>6</td>
                                        <td>5</td>
                                        <td>32</td>
                                        <td>7282</td>
                                        <td>313</td>
                                        <td>3922</td>


                                        <!--  -->
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td></td>
				</tr>
				<tr>
                                        <th colspan="17" style="text-align:center">2. Treatment in All Camps</th>
                                        
                                        <!--  -->
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td></td>
				</tr>
				<tr>
					<td rowspan="3" colspan="3" >Type of Camps</td>
					<td rowspan="3">Annual Target</td>
					<td colspan="2">Achievement(Camp Organized) </td>
					<td colspan="9">Treatment During the Month</td>
					<td rowspan="3">Total upto Last Month</td>
					<td rowspan="3">Total upto this Month</td>
                                        <!--  -->
                                        <th colspan="9">Farmers Benefitted</th>
				
				</tr>
				<tr>
					<td rowspan="2">During This Month</td>
					<td rowspan="2">Upto This Month</td>
					<td rowspan="2">Cattle</td>
					<td rowspan="2">Buffalo</td>
					<td colspan="3">Sheep and Goat</td>
					<td rowspan="2"> Equine</td>
					<td rowspan="2">Camels</td>
					<td rowspan="2">Others</td>
                                        <td rowspan="2">Total</td>
                                        <!--  -->

                                        <td colspan="4">Male</td>
                                        <td colspan="4">Female</td>
                                        <td rowspan="2">Grand Total</td>
				</tr>
				<tr>
					<td colspan='1' rowspan='1'>Dosing</td>
					<td>Dusting</td>
                                        <td>Treatment</td>
                                        <!--  -->
                                        <td>SC</td>
                                        <td>ST</td>
                                        <td>OTH</td>
                                        <td>TOTAL</td>
                                        <td>SC</td>
                                        <td>ST</td>
                                        <td>OTH</td>
                                        <td>TOTAL</td>
					</tr>
				



	<tr>
                <td colspan="3" >1.1Combat Infertility(SCP)</td>
		<td></td>
		<td>0</td>
		<td></td>
		<td>{{query.CombatInfertilitySCP.Cattle}}</td>
		<td>{{query.CombatInfertilitySCP.Buffalo}}</td>
		<td >{{query.CombatInfertilitySCP.sheepgoat.Dosing}}</td>
		<td>{{query.CombatInfertilitySCP.sheepgoat.Dusting}}</td>
		<td>{{query.CombatInfertilitySCP.sheepgoat.Treatment}}</td>
		<td>{{query.CombatInfertilitySCP.Equine}}</td>
		<td>{{query.CombatInfertilitySCP.Camels}}</td>
		<td>{{query.CombatInfertilitySCP.Others}}</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
        <!--  -->
        <td>{{cast.CombatInfertilitySCP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        
        </tr>
            <tr>
                    <td colspan="3" >1.2Combat Infertility(TSP)</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                <td>{{query.CombatInfertilityTSP.Cattle}}</td>
		<td>{{query.CombatInfertilityTSP.Buffalo}}</td>
		<td>{{query.CombatInfertilityTSP.sheepgoat.Dosing}}</td>
		<td>{{query.CombatInfertilityTSP.sheepgoat.Dusting}}</td>
		<td>{{query.CombatInfertilityTSP.sheepgoat.Treatment}}</td>
		<td>{{query.CombatInfertilityTSP.Equine}}</td>
		<td>{{query.CombatInfertilityTSP.Camels}}</td>
		<td>{{query.CombatInfertilityTSP.Others}}</td>
                 <td>0</td>
                <td>0</td>
                <td>0</td>
            <!--  -->
        <td>{{cast.CombatInfertilityTSP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilityTSP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilityTSP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilityTSP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        
        
        </tr>
            <tr><td colspan="3" >1.3Combat Infertility(RKVY General)</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{query.CombatInfertilityRKVYGeneral.Cattle}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.Buffalo}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.sheepgoat.Dosing}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.sheepgoat.Dusting}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.sheepgoat.Treatment}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.Equine}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.Camels}}</td>
		<td>{{query.CombatInfertilityRKVYGeneral.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
        <!--  -->
        <td>{{cast.CombatInfertilitySCP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >1.4Combat Infertility(RKVY Goushala)</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{query.CombatInfertilityRKVYGoushala.Cattle}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.Buffalo}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.sheepgoat.Dosing}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.sheepgoat.Dusting}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.sheepgoat.Treatment}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.Equine}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.Camels}}</td>
		<td>{{query.CombatInfertilityRKVYGoushala.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                
        <!--  -->
        <td>{{cast.CombatInfertilitySCP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >2.Goushala</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{query.Goushala.Cattle}}</td>
		<td>{{query.Goushala.Buffalo}}</td>
		<td>{{query.Goushala.sheepgoat.Dosing}}</td>
		<td>{{query.Goushala.sheepgoat.Dusting}}</td>
		<td>{{query.Goushala.sheepgoat.Treatment}}</td>
		<td>{{query.Goushala.Equine}}</td>
		<td>{{query.Goushala.Camels}}</td>
		<td>{{query.Goushala.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
        <!--  -->
        <td>{{cast.CombatInfertilitySCP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >3.1 Rabi Abhiyan</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{RabiAbhiyan.Cattle}}</td>
		<td>{{RabiAbhiyan.Buffalo}}</td>
		<td>{{RabiAbhiyan.sheepgoat.Dosing}}</td>
		<td>{{RabiAbhiyan.Buffalo}}</td>
		<td>{{RabiAbhiyan.Buffalo}}</td>
		<td>{{RabiAbhiyan.Equine}}</td>
		<td>{{RabiAbhiyan.Camels}}</td>
		<td>{{RabiAbhiyan.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.CombatInfertilitySCP.MALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>{{cast.CombatInfertilitySCP.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >3.2Kharif Abhiyan</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{KharifAbhiyan.Cattle}}</td>
		<td>{{KharifAbhiyan.Buffalo}}</td>
		<td>{{KharifAbhiyan.sheepgoat.Dosing}}</td>
		<td>{{KharifAbhiyan.sheepgoat.Dusting}}</td>
		<td>{{KharifAbhiyan.sheepgoat.Treatment}}</td>
		<td>{{KharifAbhiyan.Equine}}</td>
		<td>{{KharifAbhiyan.Camels}}</td>
		<td>{{KharifAbhiyan.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >4.ASCAD</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{ASCAD.Cattle}}</td>
		<td>{{ASCAD.Buffalo}}</td>
		<td>{{ASCAD.sheepgoat.Dosing}}</td>
		<td>{{ASCAD.sheepgoat.Dosing}}</td>
		<td>{{ASCAD.sheepgoat.Dosing}}</td>
		<td>{{ASCAD.Equine}}</td>
		<td>{{ASCAD.Camels}}</td>
		<td>{{ASCAD.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >5.1 District Mobile</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{DistrictMobile.Cattle}}</td>
		<td>{{DistrictMobile.Buffalo}}</td>
		<td>{{DistrictMobile.sheepgoat.Dosing}}</td>
		<td>{{DistrictMobile.sheepgoat.Dusting}}</td>
		<td>{{DistrictMobile.sheepgoat.Treatment}}</td>
		<td>{{DistrictMobile.Equine}}</td>
		<td>{{DistrictMobile.Camels}}</td>
		<td>{{DistrictMobile.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >5.2Tehsil Mobile</td>
        
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{TehsilMobile.Cattle}}</td>
		<td>{{TehsilMobile.Buffalo}}</td>
		<td>{{TehsilMobile.sheepgoat.Dosing}}</td>
	        <td>{{TehsilMobile.sheepgoat.Dosing}}</td>
		<td>{{TehsilMobile.sheepgoat.Dosing}}</td>
		<td>{{TehsilMobile.Equine}}</td>
		<td>{{TehsilMobile.Camels}}</td>
		<td>{{TehsilMobile.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >6.RLDB Sponsored</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{RLDBSponsored.Cattle}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.sheepgoat.Dosing}}</td>
		<td>{{RLDBSponsored.sheepgoat.Dusting}}</td>
		<td>{{RLDBSponsored.sheepgoat.Treatment}}</td>
		<td>{{RLDBSponsored.Equine}}</td>
		<td>{{RLDBSponsored.Camels}}</td>
		<td>{{RLDBSponsored.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >7.Surra</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{Surra.Cattle}}</td>
		<td>{{Surra.Buffalo}}</td>
		<td>{{Surra.sheepgoat.Dosing}}</td>
		<td>{{Surra.sheepgoat.Dusting}}</td>
		<td>{{Surra.sheepgoat.Treatment}}</td>
		<td>{{Surra.Equine}}</td>
		<td>{{Surra.Camels}}</td>
		<td>{{Surra.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >8.TADA / MADA</td><td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{MADA.Cattle}}</td>
		<td>{{MADA.Buffalo}}</td>
		<td>{{MADA.sheepgoat.Dosing}}</td>
		<td>{{MADA.sheepgoat.Dusting}}</td>
		<td>{{MADA.sheepgoat.Treatment}}</td>
		<td>{{MADA.Equine}}</td>
		<td>{{MADA.Camels}}</td>
		<td>{{MADA.Others}}</td>
                <td>0</td>
                <td>0</td>
                

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >9.Other Deptt.(watershed/Dairy etc.)</td>
        
        
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{OtherDeptt.Cattle}}</td>
		<td>{{OtherDeptt.Buffalo}}</td>
		<td>{{OtherDeptt.sheepgoat.Dosing}}</td>
		<td>{{OtherDeptt.sheepgoat.Dusing}}</td>
		<td>{{OtherDeptt.sheepgoat.Treatment}}</td>
		<td>{{OtherDeptt.Equine}}</td>
		<td>{{OtherDeptt.Camels}}</td>
		<td>{{OtherDeptt.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3" >10.Any Other(Mass One day Camps)</td>
        
        
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{RLDBSponsored.Cattle}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Equine}}</td>
		<td>{{RLDBSponsored.Camels}}</td>
		<td>{{RLDBSponsored.Others}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>{{cast.KharifAbhiyan.MALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.MALE.ST}}</td>
        <td>other</td>
        <td>Total</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>{{cast.KharifAbhiyan.FEMALE.SC}}</td>
        <td>other</td>
        <td>Total</td>
        <td>GOT</td>
        </tr>
            <tr><td colspan="3">Total</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{RLDBSponsored.Cattle}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Buffalo}}</td>
		<td>{{RLDBSponsored.Equine}}</td>
		<td>{{RLDBSponsored.Camels}}</td>
		<td>{{RLDBSponsored.Others}}</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>

        
        </tr>
            	
	    </tr>
        <tr><th colspan="17">3.No. of Animals Treated in Suspected Outbreaks-Species wise</th>
        

        </tr>
	<tr>
		<td colspan="3" rowspan="3">Type of Out breaks</td>
                <td rowspan="3">No. of Outbreaks</td>
                <td rowspan="3">Total No. of Animal Died(Mortality)</td>
                <td rowspan="3">Total No. of Animal Affected(Morbidity)</td>
                <td colspan="9">Treatement During the month</td>
                <td rowspan="3">Total treatment upto last month</td>
                <td rowspan="3">Total treatment upto this month</td>
                <!--  -->
                <th colspan="9">Farmers Benefitted</th>
		
	</tr>
	<tr>
		
		<td  rowspan="2">Cattle</td>
                <td rowspan="2"colspan="2">Buffalo</td>
		<td colspan="2" rowspan="2">Sheep and Goat</td>
		<td rowspan="2">Equine</td>
		<td rowspan="2">Camels</td>
		<td rowspan="2">Others</td>
                <td rowspan="2">Total</td>
                <!--  -->
                <td colspan="4">Male</td>
                <td colspan="4">Female</td>
                <td rowspan="2">Grand Total(M+F)</td>

	</tr>
	<tr>
                <!--  -->
                        <td>SC</td>
                        <td>ST</td>
                        <td>OTH</td>
                        <td>TOTAL</td>
                        <td>SC</td>
                        <td>ST</td>
                        <td>OTH</td>
                        <td>TOTAL</td>
        </tr>
	<tr>
		<td colspan="3">HS</td>
		<td></td>
                <td>0</td>
                <!--  -->
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
	</tr>
        <tr>
                <td colspan="3">BQ</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>

        </tr>
        <tr>
                <td colspan="3">FMD</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
		
        </tr>
        <tr>
                <td colspan="3">PPR</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
		
        </tr>
        <tr>
                <td colspan="3">ET</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
		
        </tr>
        <tr>
                <td colspan="3">Any Other</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
		
        </tr>
        <tr>
                <td colspan="3">Total</td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

        <!--  -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
		
        </tr>
        {% comment %} <tr>
                
        </tr> {% endcomment %}


	<tr>
		<td rowspan="3" colspan="3">Cattle Head and Registeration Fee</td>
		<th colspan="12" rowspan="1">4.NUMBER OF CATTLE HEADS</th>
                <td colspan="3" rowspan="3">Prescription Fee Amount Deposited(Rs.)</td>
                <!--  -->
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                
	</tr>
	<tr>
		<td colspan="4">In All Vet. Institutions and in Outbreaks</td>
		<td colspan="4">In All Camps</td>
		<td colspan="2">For Vaccination(FMD,PPR,ARV)</td>
                <td colspan="2">Total</td>
                <!--  -->
                <td colspan="9">5.No. of Functional Drug Distribution Centres(DDC)</td>
                
                	
	</tr>
	<tr>
		<td colspan="2">For  which Reg. Fees Charged</td>
		<td colspan="2">For which Reg. Fees NOT Charged</td>
		<td colspan="2">For which Reg. Fees Charged</td>
		<td colspan="2">For which Reg. Fees NOT Charged</td>
		<td >For which Reg. Fees Charged</td>
		<td>For which Reg. Fees NOT Charged</td>
		<td>For which Reg. Fees Charged</td>
                <td>For which Reg. Fees NOT Charged</td>
                <!--  -->

                <td></td>
                <td>Polyclinic</td>
                <td>1st Grade VH</td>
                <td>VH</td>
                <td>VD</td>
                <td>SC</td>
                <td>Total</td>
                <td>Dist.Mobile</td>
                <td>Tehsil Mobile</td>	
	</tr>
	<tr>
		<td colspan="3">During the Month</td>
		<td colspan="2">0</td>
                <td colspan="2">0</td>
                <td colspan="2">0</td>		
                <td colspan="2">0</td>
                <td>0</td>		
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td colspan="2">0</td>
                <!--  -->
                <td>Sanct</td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

	</tr>
	        <tr>
                <td colspan="3">During the Month</td>
                <td colspan="2">0</td>
                <td colspan="2">0</td> 
                <td colspan="2">0</td>              
                <td colspan="2">0</td>
                <td>0</td>              
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td colspan="2">0</td>
                <!--  -->
                <td>Funct</td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
		</tr>
		</table>
	</div>


