{% extends "main/base.html" %}
{% load static %}
{% block title %}{{ block.super }}||Report{% endblock title %}
{% block head %}    
{{ block.super }}


{% endblock head %}
{% block main %}
<form method="GET">
{% csrf_token %}

<div class="row">

    <div class="col-md-3  offset-md-2">
    <label for="#id_datefrom">From</label>
    {{form.datefrom}}
        </div>
    <div class="col-md-3 offset-md-1">
    <label for="#id_dateto">To</label>{{form.dateto}}
    </div>    
    <div class="col-md-2">
<button type="Submit" class="btn btn-primary" style="margin:30px auto">Search</button>
</div>
</div>
</form>




{% endblock main %}
{% block fluid%}
{%if query%}
{%endif%}    
{%endblock fluid%}
{% block script %}

 {{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 

 <script>
$("#id_datefrom").datepicker();
$("#id_dateto").datepicker();

 </script>
{% endblock script %}
