<!DOCTYPE HTML5>
<html>
    <head>
        <title>Title</title>
        
        <style type="text/css">
            body {
                height: 300px;
                font-weight: 200;
                font-size: 14px;
                }
            .header {
                font-size: 20px;
                font-weight: 200;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            p{
                font-family: sans-serif;
                padding:20px
            }
        }
        </style>
    </head>
    <body>
<div class='wrapper' >
            <div class='header'>
                    <p class='title'>Rajasthan Government</p>
                    <p>Animal Care Unit</p>
                    <p>Pashu Dhan Neshulak arogya yojna</p>
            </div>

            <div id="location">
                    <p >State Animal Hospital/Branch:</p>
                    <p style="float:right">District</p>
            </div>

            <div class='details'>
                    <h1>Medication Receipt:</h1>
                    <p ><b>Receipt Number:</b> {{receipt.id}}</p>
                    <p style="left:200pt">Date: <span>{{receipt.date.date}}</span></p>
            </div>

            <div class="row">
                    <p>owner name:  <span>{{receipt.owner_name}}</span></p>
                    <p>Phone Number:  <span style="">{{receipt.phonenumber}}</span></p>
            </div>
            <div class="row">
                    <p>Animal Type: <span>{{receipt.animal}}</span></p>
                    <p>Breed:   <span>{{receipt.animal.Breed}}</span></p>
                    <p>Age  :   <span>{{receipt.age}}</span></p>

            </div>
</div>
    </body>
</html>

