{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Rajasthan Government</p>
                <p>Animal CareTaker Unit</p>
                <p>Pashu Dhan Neshulak arogya yojna</p>
            </div>
        <div>
        <section id="location">
            <p >State Animal Hospital</p><p>District</p>
        <div class='details'>
            <h1>Medication Receipt</h1>
            <p>Receipt No.</p>
            <p>Date</p>
            <!-- <hr class='hrItem' /> -->
        </div>
        <div class="row">
            <p>owner name:</p>
            <p>Phone Number</p>

        </div>
        <div class="row">
            <p>Animal Type</p>
            <p>Breed</p>
            <p>Age</p>

        </div>
    </div>
    </body>
</html>














<!-- 
{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Title</title>
        <style type="text/css">
        @page{
            size:letter landscape;
            margin: 2cm;
            body {
                font-weight: 200;
                font-size: 14px;
            }
            @frame header_frame {           /* Static Frame */
            -pdf-frame-content:header-content;
            left: 400px; width: auto; top: 50pt; height: 400pt;text-align:center;
            font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
        }
         @frame col1_frame {             /* Content frame 1 */
            left: 44pt; width: 245pt; top: 800pt; height: 12pt;
        }
            /* .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            } */
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }

            p{
                width:300;
            }
        }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header' id="header-content">
                <p class='title'>Rajasthan Government</p>
                <p>Animal CareTaker Unit</p>
                <p>Pashu Dhan Neshulak arogya yojna</p>
            </div>
        <div>
        <section id="location"  style="position:relative; left:100px">
            <p >State Animal Hospital</p><p style="float:right">District</p>
        <div class='details'>
            <h1>Medication Receipt</h1>
            <p style="width:200px;float">Receipt No.</p>
            <p style="float:right">Date</p>
            <!-- <hr class='hrItem' /> -->
        </div>
        <div class="row">
            <p>owner name:</p>
            <p>Phone Number</p>

        </div>
        <div class="row">
            <p>Animal Type</p>
            <p>Breed</p>
            <p>Age</p>

        </div>
    </div>
    </body>
</html> -->