  @media screen and (max-width:767px){
      .formset{
          margin:10px auto;
      }
      .delete-row{
            margin: auto;
      }

  }
  *{
            font-family: sans-serif;
            font-weight: 600;
        }
        main{
            min-height: 100%
        }

        h1{
            font-weight: 300;
            font-size: 2em;
            padding: 10px;
            padding-left:0px;
        }
        h2{
            font-weight:100;
            font-size:1.2em;
            padding: 10px;
            padding-left:0px;    
            border-bottom: black 1px solid;        

        }

        div#receipt-head{
            border-bottom:1px solid black;
            margin-bottom: 20px;
        }
        p,label{
            font-weight: 400;

        }
        header{
            padding: 0;
            height: 55px;
            background-color: orange;
            margin: 0;
            box-shadow: 2px 2px 2px 2px gray;

        }
        main.container{
            /* width: 960px; */
            margin-bottom:30px;
            margin-top:20px;

        }

        .hide{
            display: none;
        }

 

        footer{
            height:10%;
            position: absolute;
            height: 40px;
            margin-top: -40px;
            clear: both;
        }
        section#success{
            margin-top: 5%;

        }
        li{
            display: inline;
            width:auto;
            padding: auto;
        }
        .row{
            margin-top: 20px;
        }
        .add-row::before{
            content: '+';
        }
        .add-row{
            display: block;
            text-align: center;
            margin-top: 10px;        }
        #Operation{
            display: none
        }
        div.preview{
            height: 500px;

        }
        .container-fluid{
            overflow-x:scroll;
        }







/* Print CSS */

        @media print{
            *{
                font-weight: 200;
                font-family: serif;
            }
            @page{
                margin: 0pt;
                padding: 10pt;
                size: auto;
            }
            .container-fluid{
                padding: 15px;
                padding-top:20px;
                padding-bottom: 0px;
                width: auto;

                /* transform: rotate(-90deg); */
                overflow: unset;
                height: unset;
                font-weight:unset;
                margin: 0;
            }
            body{
                line-height: 1.2em;
                font-weight: 200;
            }
        div.preview{

        }
        #date{
            left: 60% !important;
        }
            
        nav,main{
             display: none; 
           }
        table{
            /* border-collapse: initial; */
            border:1px black solid;
            
        }
        }        
        input[type=radio]{
            height: 10px;
        }
        
