 @media screen{
    body {
        font-weight: 200;
        font-size: 14px;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    .wrapper{
        padding-left: 20px;
    }
    #date{
        left:77%;
    }
    .header,.sub-head {
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        color: #007cae;
        margin-bottom: 30px;
    }
    .title {
        font-size: 22px;
        font-weight: 100;
       /* text-align: right;*/
       padding: 10px 20px 0px 20px;  
    }
    .title span {
        color: #007cae;
    }
    .details {
        padding: 10px 20px 0px 20px;
        text-align: left !important;
        /*margin-left: 40%;*/
    }
    .hrItem {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #fff; /* Modern Browsers */
    }
 }







 @media print{
     .wrapper{
         width: 780px;
     }
     .location{
        margin-bottom:20px;}
     
 @page{
     margin:0;
       margin-left:50pt;
        margin-top: 10pt;
        margin-right: 20pt;
       size: auto;
   }
   *{
        font-family: serif;
    }
    #date{
        left:60%;
    }
    body {
        height: 300px;
        font-weight: 200;
        font-size: 14px;
        line-height: 1.2em;
        }
     .sub-head{
        text-align: center;
     }   
    .header {
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        margin-bottom: 30px;
        /* color: #007cae; */
    }
    .title {
        font-size: 15px;
        /* font-size: 22px; */
        font-weight: 100;
       /* text-align: right;*/
       /* padding: 10px 20px 0px 20px;   */
    }
    .title span {
        color: #007cae;
    }
    .details {
        padding: 10px 20px 0px 20px;
        text-align: left !important;
        /*margin-left: 40%;*/
    }
    .hrItem {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color:#fff; /* Modern Browsers */
    }
    p{
        font-family: serif;
        font-weight: 300;
      
    }
    .row{
        padding:0px;
        margin:0px;
    }
    
 }